<!doctype html>
<html>
  <!-- arowf: Accuracy Review Of Wikipedias in Flask v.0.7a of July 14-17, 2016 -->
  <head>
  <title>arowf review system</title>
  <link rel=stylesheet type=text/css
   href="{{ url_for('static', filename='style.css') }}">
  <script type="text/javascript">
    function LoadIframe() {
      var ifr = document.getElementById('iframeobj');
      ifr.src = document.getElementById('iframeurl').value;
      ifr.style.display = 'block';
    }
  </script>
  </head>
  <body>
    <h1>AROWF: Accuracy Review of Wikipedias in Flask</h1>
    {% for message in get_flashed_messages() %}
      <div class=flash>{{ message }}</div>
    {% endfor %}
    {% block body %}{% endblock %}
  </body>
</html>
